[Unit]
Description=Simple_webapp

[Service]
Type=simple
User=__APP__
Group=__APP__
EnvironmentFile=__FINALPATH__/.env
WorkingDirectory=__FINALPATH__/www
ExecStart=__NODEJS_PATH__/node __FINALPATH__/www/src/index.js --exec babel-node
Restart=on-failure
#StartLimitInterval=86400
#StartLimitBurst=5
RestartSec=10
ExecReload=/bin/kill -USR1 $MAINPID
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__

[Install]
WantedBy=multi-user.target
